.header {
  background-color: rgb(229, 240, 244);
}

header a {
  text-decoration: none;
  /* font-size: large; */
  display: flex;
  align-items: center;
  height: 1.5rem;
  color: rgb(59, 123, 159);
}

header button {
  /* text-decoration: none; */
  font-size: medium;
  display: flex;
  align-items: center;
  color: rgb(59, 123, 159);
  border: none;
  background-color: rgba(236, 236, 234, 0.473);
  cursor: pointer;
}

.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

header .avatar-container {
  max-height: 82px;
}
