.user-data-form {
  display: flex;
  gap: 2rem;
}

.business-data-form .MuiFormControl-root,
.user-data-form-pass .MuiFormControl-root,
.user-data-form .MuiFormControl-root {
  width: 100%;
}

.toast-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.form-button {
  width: 100%;
  min-height: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(59, 123, 159, 0.5);
  color: #3b7b9f;
  text-transform: none;
}

.form-button-delete {
  background-color: rgba(233, 78, 78, 0.855);
  color: white;
  border-color: rgba(233, 78, 78, 0.855);
}
.form-button:hover {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}
.form-button-delete:hover {
  background-color: rgba(193, 57, 57, 0.855);
}

/* .form-button-delete:hover {
  background-color: rgb(219, 219, 219);
  cursor: pointer;
} */

@media (min-width: 900px) {
  .user-data-form {
    /* margin-top: 4rem; */
    flex-direction: row;
    flex-wrap: wrap;
  }

  .business-data-form .MuiFormControl-root,
  .user-data-form-pass .MuiFormControl-root,
  .user-data-form .MuiFormControl-root {
    width: auto;
  }

  .form-button,
  .form-button-delete {
    margin-left: 0;
    min-width: 8rem;
    width: auto;
  }
}
