.main-section {
  margin: 2rem auto;
  max-width: 75rem;
  padding: 0 2rem;
  min-height: 68vh;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(59, 123, 159);
  font-size: 2.5rem;
}

@media (min-width: 900px) {
  .main-section {
    padding: 0;
    /* border: 2px solid red; */
  }

  .title {
    text-align: start;
    padding: 1rem 1rem 1rem 3rem;
  }
}
