.main-section {
  margin: 2rem auto;
  max-width: 75rem;
  padding: 0 2rem;
}

.title {
  color: rgb(59, 123, 159);
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media (min-width: 900px) {
  .main-section {
    padding: 0;
  }

  .title {
    margin-top: 1.5rem;
  }
}
