.modal-contenido {
  background-color: rgb(196, 196, 196);
  width: 450px;
  height: 450px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  color: rgb(92, 90, 90);
  border: 1px solid black;
  border-radius: 30px;
  display: grid;
  /* align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
}
.close-img {
  width: 30px;
  filter: drop-shadow(5px 5px 15px 2px rgba(0, 0, 0, 0.47));
}
.enlace {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1rem;
}
.signup {
  font-size: medium;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: all 1s;
}
#LoginModal:target {
  opacity: 1;
  pointer-events: auto;
}

.MuiButton-root {
  box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.47);
}
