.tabs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 400px;
}
.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.tabs-container Button {
  color: #3b7b9f;
  opacity: unset;
}

.tabs-content {
  width: 100%;
}

.tabs-content-button {
  margin-top: 2rem;
}

.tabs-content img {
  border: none;
  box-shadow: none;
}

.tabs-content figcaption {
  display: none;
}

.tabs-button {
  width: 100%;
  height: 2rem;
  max-height: 2rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: solid #bdbdbd 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tabs-button:hover {
  background-color: rgba(236, 236, 234);
  cursor: pointer;
}

@media (min-width: 900px) {
  .tabs {
    flex-direction: row;
    gap: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  }

  .tabs-container {
    min-width: 20rem;
  }

  .tabs-content {
    padding: 2rem;
  }

  .tabs-button {
    width: 15rem;
  }
}
