.user-data-form-pass {
  gap: 1rem;
}

.user-data-form-pass.disabled .MuiInputLabel-root,
.user-data-form-pass.disabled .MuiIconButton-root {
  color: rgba(0, 0, 0, 0.38);
}

@media (min-width: 900px) {
  .user-data-form-pass {
    margin-left: 0;
    align-items: flex-start;
    gap: 2rem;
  }
}
