.user-data-form-pass {
  display: flex;

  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
  margin-left: 3rem;
}
@media (min-width: 900px) {
  .user-data-form-pass {
    margin-top: 4rem;
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
