.user-data-form-pass {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.user-data-form-pass input {
  width: 20rem;
  height: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.user-data-form-pass label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

.no-display-label {
  display: hidden;
}
