.business-profile {
  /* background-image: url('/home/hack/Desktop/Rate a Biz/Rate_A_Biz_Front/front/src/assets/images/building-1.jpg'); */
  /* background-image: url('../assets/images/building-1.jpg'); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-profile {
  display: flex;
  gap: 0.5rem;
}
#title-profile {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
}

.profile-preview {
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  width: 50vw;
  background-color: rgba(236, 236, 234, 0.726);
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 600px) {
  .profile-preview {
    width: 60%;
  }
}

.profile-reviews {
  padding: 1rem;

  width: 85vw;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-review {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  background-color: rgba(236, 236, 234);
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1100px) {
  .profile-valorations {
    display: flex;
    flex-wrap: wrap;
  }
}

.profile-reviews-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-valorations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-left {
  margin: 1.5rem;
}

.comments {
  margin: 1.5rem;
}

.profile-orders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

hr {
  border-top: 1px solid rgb(41, 44, 55);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.loading > img {
  height: 20rem;
}
