.business-profile {
  background-image: url('/home/hack/Desktop/Rate a Biz/Rate_A_Biz_Front/front/src/assets/images/building-1.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-preview {
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  width: 50vw;
  background-color: rgba(236, 236, 234, 0.726);
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-reviews {
  padding: 1rem;

  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  width: 85vw;
  background-color: rgba(236, 236, 234);
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.profile-review {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);

  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-reviews-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
