#order {
  min-width: 20px;
  padding: 5px;
}
#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.search {
  display: flex;
  flex-direction: column;
}
.filter {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  font-size: 20px;
  padding: 1rem;
  background-color: rgba(253, 253, 242);
  border: 1px solid black;
  border-radius: 20px;
}

.preview {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(253, 242, 242);
  margin: 3rem;
}

.preview .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  text-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}

.preview p {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}
.valorations {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  font-weight: 400;
}
