.search {
  /* background-color: white; */
  /* background-image: url('/home/hack/Desktop/Rate a Biz/Rate_A_Biz_Front/front/src/assets/images/architecture-2.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-image: url('../assets/images/architecture-2.jpg');
  background-position: 100%;
  background-size: cover; */
  flex: 1;
}

#order {
  width: 20px;
  padding: 5px;
  border-radius: 10px;
  display: contents;
}
#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: grey;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  justify-content: space-around;
  align-items: center;
  column-gap: 1.2rem;
  flex-wrap: wrap;
  z-index: 0;
  gap: 1.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  font-size: 20px;
  padding: 1rem;
  background-color: white;
  /*  border: 1px solid black; */
  border-radius: 20px;
}

.preview {
  padding: 1rem;
  /*   border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 236, 234);
  margin: 3rem;
  gap: 2rem;
}

.preview .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  text-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}

.preview p {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}
.valorations {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.profile-link {
  font-size: medium;
}

.comments-preview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
#title-comment {
  display: flex;
  gap: 0.5rem;
}
#title-search {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
}
#leftQuote {
  height: 15px;
  width: 15px;
}
#rightQuote {
  height: 15px;
  width: 15px;
  display: flex;
}

.select {
  background-color: rgba(236, 236, 234);
  border-radius: 5px;
}

.button-search {
  background-color: rgba(236, 236, 234);
  display: flex;
  flex-direction: row;
  padding: 1rem 2.5rem;
  justify-content: center;
  align-items: center;
}

#apply {
  background-color: rgba(236, 236, 234);
  border-radius: 5px;
}

.css-d5qgd7-MuiStack-root {
  display: flex;
  align-items: center;
  align-content: center;
}

.top10 {
  margin-top: 1.5rem;
  color: black;
  background-color: rgba(236, 236, 234);
  backdrop-filter: blur(10px);
  height: 4rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.top10 > h1 {
  margin: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}
@media (max-width: 900px) {
  .searching {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top10 {
    padding: 0.5rem;
    max-width: 90vw;
  }
  .top10 > h1 {
    font-size: x-large;
    padding: 0.5rem;
  }
}
.orders {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.business-review {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  gap: 2rem;
  width: 70vw;
}
@media (max-width: 675px) {
  .business-review {
    display: flex;
    flex-direction: column;
  }
}

.comments-preview {
  display: flex;
  flex-direction: row;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
}

.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.business-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.job-info {
  display: flex;
  flex-direction: column;
}

.preview-valorations {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 675px) {
  .preview-valorations {
    display: flex;
    justify-content: center;
  }
}

.filters {
  background-color: rgba(236, 236, 234);
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
}

.select-abbr {
  background-color: rgba(236, 236, 234);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 25px;
}
