* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
}
.App {
  background-color: rgb(59, 123, 159);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(253, 242, 242);
}
.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 10rem;
  gap: 2rem;
  margin-right: 8rem;
}
.logo {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  font-size: xx-large;
  display: flex;
  align-items: center;
  color: rgb(59, 123, 159);
}

.top-preview {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
  display: grid;
  grid-template-areas:
    'title' 'comments'
    'ratings' 'comments';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(196, 196, 196);
  margin: 3rem;
}

.top-preview h1 {
  grid-area: 'title';
  text-align: center;

  text-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}
.top-preview .ratings {
  grid-area: 'ratings';
}
.top-preview .comments {
  grid-area: 'comments';
}
