* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: white;
  /* background-image: url('/home/hack/Desktop/Rate a Biz/Rate_A_Biz_Front/front/src/assets/images/architecture-1.jpg'); */

  background-image: url('./assets/images/architecture-1.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.top10 {
  margin-top: 1.5rem;
  color: black;
  background-color: rgba(236, 236, 234);
  backdrop-filter: blur(10px);
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.top10 > h1 {
  margin: 1.5rem;
}
.top-preview {
  padding: 1rem;
  /*   border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.322);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(236, 236, 234);
  margin: 3rem;
}
.top-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-preview .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  text-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.47);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.top-preview p {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.322);
}

/* #root > div > div > div:nth-child(1) > div.info > legend:nth-child(4) {
  color: black;
  font-weight: bold;
}
 */
.MuiTypography-root {
  color: black;
  font-weight: bold;
}

.css-ahj2mt-MuiTypography-root {
  font-weight: bold;
}
