body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url('./assets/images/architecture-1.jpg');
  background-image: linear-gradient(
      to bottom,
      rgba(202, 197, 197, 0.6) 0%,
      rgba(98, 97, 97, 0.6) 100%
    ),
    url('./assets/images/architecture-1.jpg');
  background-position: 100%;
  background-size: cover;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(236, 236, 234, 0.473);
  height: 180px;
} */
.nav {
  /* display: flex;
  justify-content: center;
  align-content: center;

  gap: 2rem;
  margin-right: 8rem; */
}
.logo {
  /* display: flex;
  align-items: center; */
}
/* .link {
  text-decoration: none;
  margin-top: 2rem;
  font-size: xx-large;
  display: flex;
  align-items: center;
  color: rgb(59, 123, 159);
} */
