.avatar-container {
  margin: 1rem 0;
}

.image-avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 3px white solid;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.avatar-username {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: 400;
}

.avatar.medium {
  width: 160px;
  height: 160px;
}

.avatar.small {
  width: 75px;
  height: 75px;
}
