.avatar-section {
  width: 21rem;
  height: 15rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-form-button {
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 1.5rem;
}
.avatar-form-button:hover {
  background-color: rgb(224, 220, 220);
  cursor: pointer;
}

.input-avatar {
  visibility: hidden;
}

.label-avatar {
  margin-top: 0.3rem;
  display: flex;
  margin-left: 1.8rem;
  font-size: 0.8rem;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
