.avatar-section {
  border: 2px solid #f2f2f2;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-form-button {
  color: rgb(59, 123, 159);
  width: 6rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.avatar-form-button:hover {
  background-color: rgb(229, 242, 246);
  cursor: pointer;
}

.input-avatar {
  visibility: hidden;
}

.label-avatar {
  color: rgb(59, 123, 159);
  height: 2rem;
  width: 15rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: solid #bdbdbd 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.label-avatar:hover {
  background-color: rgb(229, 242, 246);
}
