.avatar-section {
  width: 15rem;
  height: 18rem;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
}
.avatar-form-button {
  width: 6rem;
  height: 1.5rem;
}
.avatar-form-button:hover {
  background-color: rgb(224, 220, 220);
  cursor: pointer;
}

.input-avatar {
  visibility: hidden;
}

.label-avatar {
  width: 15rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}
img {
  width: 100%;
  height: auto;
}
