.business-data-form {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */

  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
  padding: 2rem;
  margin-left: 4rem;
}

@media (min-width: 900px) {
  .business-data-form {
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* width: 30rem; */

    /* display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
  margin-left: 1rem;
  padding: 2rem; */
  }
}
